<h1><%= @patient.full_name %></h1>
<hr />
<h3>Patient Appointments </h3>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.date, patient_appointment_path(appointment.patient_id, appointment.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Appointment', new_patient_appointment_path(@patient), class: 'ui blue button' %>

<hr/>
<br>
<br>
<%= link_to 'Delete Patient', @patient, method: :delete, class: 'ui red button' %>

<br>
<br>
<%= link_to 'Edit Patient', edit_patient_path, class: 'ui blue button' %>

