<h1>Edit Doctor Info</h1>

<%= form_with(model: @doctor, local: true, class: 'ui form') do |f| %>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= f.label :specialty %>
    <%= f.text_field :specialty, required: true, placeholder: 'Specialty' %>
  </div>
<%= f.submit nil, class: 'ui blue button' %>
<% end %>