<h1>Add Doctor</h1>


<%= form_with(model: @doctor, local: true, class: 'ui form') do |f| %>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: 'Last Name' %>
  </div>

  <div class="field">
    <%= f.label :specialty %>
    <%= f.select :specialty, ['Pediatrician', 'Dermatologist', 'Gynocologist', 'Cardilogist', 'ENT', 'Plastic Surgeon'] %>
  </div>
<%= f.submit nil, class: 'ui blue button' %>
<% end %>


